/* Global defaults */
* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 11px;
  min-height: 0;
  background-color: #555555;
  margin: 0px;
  padding: 0px;
}

/* Bar */
window#waybar {
  background-color: rgba(20, 20, 20, 0.9);
  color: #e0e0e0;
}

/* Workspaces */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #737373;
    box-shadow: inset 0 -3px #737373;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* Common module spacing */
#clock,
#battery,
#network,
#pulseaudio,
#tray,
#bluetooth,
#cpu,
#memory,
#custom-powerprofile {
  padding: 0 4px;
}

/* Clock (center) */
#clock {
  font-weight: 900;
  background-color: #CC561E;
}

/* Battery */
#battery {
  color: #4c9037;
}

#battery.warning {
  color: #e6c27a;
}

#battery.critical {
  color: #e67a7a;
}

/* CPU */
#cpu {
  padding-top: 2px;  /* Somehow it has a offset... */
  color: #4c9037;
}

#cpu.warning {
  color: #e6c27a;
}

#cpu.critical {
  color: #e67a7a;
}

/* MEMORY */
#memory {
  color: #4c9037;
}

#memory.warning {
  color: #e6c27a;
}

#memory.critical {
  color: #e67a7a;
}

/* Network */
#network {
  color: #5e81ac;
  margin-left: -5px;
}

#network.disconnected {
  color: #e67a7a;
}

/* Audio */
#pulseaudio {
  color: #e0e0e0;
}

#pulseaudio.muted {
  color: #777777;
}

/* Bluetooth */
#bluetooth {
  color: #e0e0e0;
}

#bluetooth.on {
  color: #509198;
}

#bluetooth.connected {
  color: #4c9037;
}

#bluetooth.off {
  color: #777777;
}

/* Custom power profile */
#custom-powerprofile {
  color: #e0e0e0;
}

#custom-powerprofile.powersave {
  color: #4c9037;
}

#custom-powerprofile.balanced {
  color: #5e81ac;
}

#custom-powerprofile.performance {
  color: #e67a7a;
}


/* Tray icons */
#tray > * {
  margin: 0 2px;
  background-color: #555555;
}

/* Workspaces stuff */
#workspaces button {
	font-weight: bold;
	padding-left: 4px;
	padding-right: 4px;
	color: #ffffff;
}

#workspaces button.urgent {
	border-color: #c9545d;
	color: #c9545d;
}